.welcome-container {
  position: relative;
  background-image: url("./images/measurements.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.welcome-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-content {
  text-align: center;
  z-index: 1;
  color: #c05757;
  margin-top: -20vh; 
}

.welcome-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-subheading {
  font-size: 36px;
  margin-bottom: 10px;
}

.name{
 text-transform: capitalize;
 font-weight: bolder;
 font-size: 36px;
}

.welcome-button {
  padding: 10px 20px;
  background-color: #c05757;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-frame {
  background-color: #fff;
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
}

.popup-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .welcome-content{
    margin-top: 10px;
  }
  .welcome-heading {
    font-size: 2rem;
  }
  .welcome-subheading {
    font-size: 12px;
  }
  .welcome-button {
    font-size: 2rem;
  }
.popup-frame {
  width: 90%;
  height: 90%;
  
}
}
